/*
* @Author: Administrator
* @Date:   2018-02-03 13:06:48
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-03 13:07:11
*/
*{
	margin: 0;/* body-8px */
	text-decoration: none;
	padding: 0;
	font-style: normal;
	list-style: none;
}